.slideshow{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.944);
}

.slideshow__inner{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.slideshow__download-btn{
    position: absolute;
    top: var(--space-mid);
    left: var(--space-mid);
}

.slideshow__close-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.slideshow__slider{
    padding: 0 var(--space-mid);
    height: 100%;
    width: 100%;
    max-width: 700px;
    /*border: 1px solid green;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow__slider__inner{
    height: 100%;
    width: 100%;
    position: relative;
    /*border: 1px solid pink;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideshow__slider__info {
    margin-bottom: var(--space-big);
}

.slideshow__slider__info__index-count{
    color: var(--fc-light);
    font-size: var(--fs-mid);
}

.slideshow__slider__info__index-count > div > .count{
    margin: 0 var(--space-small);
    font-weight: var(--fw-big);
}

.slideshow__slider__info__index-count > div > .length{
    margin: 0 var(--space-small);
    font-weight: var(--fw-big);
}

.slideshow__slider__image {
    height: 350px;
    width: 350px;
    background-color: rgb(234, 234, 234);
    margin-bottom: var(--space-big);
}

.slideshow__slider__image > div{
    height: 100%;
}

.slideshow__slider__image > div > img {
    height: 100%;
    width: 100%;
}

.slideshow__slider__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.slideshow__slider__btn > div {
    height: 100%;
}

.slideshow__slider__prev-btn{
    left: 0;
}

.slideshow__slider__next-btn{
    right: 0;
}

.slideshow__slider__mini-img-grid > div {
    display: flex;
}

.slideshow__mini-img-grid__item{
    cursor: pointer;
    height: 45px;
    width: 45px;
    padding: 5px;
}

.slideshow__mini-img-grid__item_selected{
    color: var(--color-primary);
    border: 1px solid currentColor;
}

.slideshow__mini-img-grid__item:not(:first-child){
    margin-left: 5px;
}

.slideshow__mini-img-grid__item > div > img{
    height: 100%;
    width: 100%;
}

@media all and (min-width: 700px){
    .slideshow__slider__image {
        height: 70%;
        width: auto;
    }

    .slideshow__slider__btn{
        width: 55px;
        height: 55px;
    }
}