.home__inner{
    display: flex;
    height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px;
}

.home__content__inner {
    display: flex;
    flex-direction: column;
}

.home__content__action {
    box-sizing: border-box;
    padding: var(--space-big) var(--space-mid);
    display: flex;
    justify-content: center;
}

.home__content__action__inner{
    margin-top: var(--space-big);
    height: 100%;
    width: 100%;
    max-width: 500px;
}

.home__content__action__text{
    text-align: center;
}

.home__content__action__text__description{
    margin-top: var(--space-mid);
}

.home__content__action__form{
    margin-top: var(--space-mid);
}

.home__content__action__form__label{
    font-weight: var(--fw-big);
    font-size: var(--fs-small);
}

.home__content__action__form__element{
    margin-top: var(--space-tiny);
}

.home__content__action__form__element__resolution{
    margin-top: var(--space-small);
}

.home__content__action__form__element__submit{
    margin-top: var(--space-mid);
}