.app__header__inner{
  position: relative;
}

.app__slideshow{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
}

.app__content__inner > * {
  padding: 0 var(--space-tiny);
  padding-top: 40px;
}

@media all and (min-width=600px){
  .app__content__inner > * {
    padding: 0 var(--space-mid);
    padding-top: 40px;
  }
}