.input-text{
    width: 100%;
}

.input-text__element__box{
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--fc-light);
    padding-left: var(--space-small);
    font-size: var(--fs-mid);
}
