/* opensans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  /* font-family */
  --ff-default: 'Open Sans', sans-serif;
  /* font-sizes */
  --fs-small: 13px;
  --fs-mid: 18px;
  --fs-big: 25px;
  /* font-weight */
  --fw-small: 300;
  --fw-mid: 400;
  --fw-big: 600;
  /* font-color */
  --fc-light: rgb(114, 114, 114);
  --fc-normal: rgb(26, 26, 26);

  /* colors */
    /* background */
  --bg-dark: #252b30;
    /* theme */
    --color-primary-light: rgb(35, 107, 208);
    --color-primary: rgb(24, 95, 194);

  /* margins/paddings */
  --space-tiny: 4px;
  --space-small: 8px;
  --space-mid: 16px;
  --space-big: 24px;

  /* page width */
  --max-page-width: 1200px;
}

* {
  box-sizing: border-box !important;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: var(--ff-default);
}

.body {
  font-family: var(--ff-default);
}

.heading {
  font-family: var(--ff-default);
  font-weight: 600;
}

.heading_small{
  font-size: var(--fs-normal)
}

.heading_big{
  font-size: var(--fs-big);
}


.paragraph{
  font-size: var(--fs-normal);
}

/* buttons */
.btn_icon{
  border: none;
  background: transparent;
  background-color: #e1e1e1;
  cursor: pointer;
  border-radius: 100px;
}

.btn_icon:hover{
  transform: scale(1.1);
}

.btn_icon:active{
  transform: scale(0.9);
}

.btn_icon-small{
  height: 40px;
  width: 40px;
}

.btn_icon__svg__container > svg{
  fill: var(--fc-normal);
}