/* opensans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  /* font-family */
  --ff-default: 'Open Sans', sans-serif;
  /* font-sizes */
  --fs-small: 13px;
  --fs-mid: 18px;
  --fs-big: 25px;
  /* font-weight */
  --fw-small: 300;
  --fw-mid: 400;
  --fw-big: 600;
  /* font-color */
  --fc-light: rgb(114, 114, 114);
  --fc-normal: rgb(26, 26, 26);

  /* colors */
    /* background */
  --bg-dark: #252b30;

  /* margins/paddings */
  --space-tiny: 4px;
  --space-small: 8px;
  --space-mid: 16px;
  --space-big: 24px;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: var(--ff-default);
  color: var(--fc-normal);
}

.body {
  font-family: var(--ff-default);
}

.heading {
  font-family: var(--ff-default);
  font-weight: 600;
}

.heading_big{
  font-size: var(--fs-big);
}

.heading_light{
  color: var(--f);
}

.paragraph{
  font-size: var(--fs-mid);
}